<div class="margin">
  <h1 ng-bind-html="myDate"></h1>
  <div style="border:1px solid;">
    <audio controls="controls" ng-src="{{myAudioStreamSrc}}" autoplay></audio>
    <br/>
    <span ng-bind-html="myAudioStreamSrcString"></span>
  </div>

  <div style="border:1px solid;">
    <img ng-src="{{myPicUrl}}"/>
    <!--style="-webkit-filter: brightness(3) invert(1) hue-rotate(190deg) saturate(8000);"-->
    <img src="http://www.niederschlagsradar.de/include/images/legend.precip-hor.png" />
  </div>
</div>
